name: Publish to Docker Hub

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Log in to Docker Hub
      run: echo '${{ secrets.DOCKER_PASSWORD }}' | docker login -u dalinesterov --password-stdin

    - name: Build Docker image
      run: docker build . -t dalinesterov/docker-test
      
    - name: Push image to Docker Hub
      run: docker push dalinesterov/docker-test:latest
